<a href="https://colab.research.google.com/github/frandalmolin/LOGICA_IMPERATIVA/blob/main/AnalistaDeDadosEBAC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Módulo 01

In [ ]:
print ("Hello World!");

In [ ]:
idade = 25;
print(idade);

nome = 'Fran';
print(nome);

In [ ]:
preco = 1300;
tipo_preco = type(preco);

print(preco);
print(tipo_preco);

juros = 0.25;
tipo_juros = type(juros);

print(juros);
print(tipo_juros);

pais = 'Brasil';
tipo_pais = type(pais);

print(pais);
print(tipo_pais);

usuario_maior_de_idade = True;

print(usuario_maior_de_idade);
print(type(usuario_maior_de_idade));

telefone_fixo = None;

print(telefone_fixo);
print(type(telefone_fixo));

In [ ]:
print(type(37));
print(type(0.25));
print(type(1 + 2j));

In [ ]:
qtd_itens_carrinho_compra = 0;
qtd_itens_carrinho_compra += 1;
qtd_itens_carrinho_compra +=1;

print(qtd_itens_carrinho_compra);

qtd_itens_carrinho_compra -= 1;

print(qtd_itens_carrinho_compra);

In [ ]:
preco = 47;
qtd = 0.250;

total_a_pagar = qtd * preco;
print(total_a_pagar);

In [ ]:
a = 3;
b = 2;

c = a/b;
d = a//b;

print(c);
print(d);

In [ ]:
print(int(3.9));
print(float(10));
print(complex(1));

dia: 19
svv: soma das vendas do dia
sq: soma da quantidade de vendas do dia
tkt: ticket medio do dia

In [ ]:
svv_19 = 153.96;
sq_19 = 3;

tkt = svv_19 / sq_19;
print(tkt);

In [ ]:
nome = 'Francine';
sobrenome = 'Dalmolin dos Santos';

apresentacao = 'Olá! Meu nome é ' + nome + ' ' + sobrenome + '.'

In [ ]:
nome = 'Francine';
sobrenome = 'Dalmolin dos Santos';

apresentacao = f'Olá, meu nome é {nome} {sobrenome}.'

print(apresentacao);

In [ ]:
email = 'andre.perez@gmail.com'

print('0: ' + email[0]);
print('11: ' + email[11]);

print('-1: ' + email[-1]);
print('-2: ' + email[-2]);

email_usuario = email[0:11];
email_provedor = email[12:21];

print(email_usuario);
print(email_provedor);

In [ ]:
endereco = 'Avenida Paulista, 1811, São Paulo, São Paulo, Brasil.'

print(endereco.upper());

posicao = endereco.find('Brasil');
print(posicao);

In [ ]:
idade = 19;
print(type(idade));

idade = str(idade);
print(type(idade));

In [ ]:
faturamento = '35 mil';
print(faturamento);
print(type(faturamento));

In [ ]:
usuario = 'andre.perez';
senha = 'andre123';

usuario_cadastro = 'andre.perez';
senha_cadastro = 'andre321';

usuario_igual = usuario == usuario_cadastro;
senha_igual = senha == senha_cadastro;

print(usuario_igual);
print(senha_igual);

conceder_acesso = usuario_igual & senha_igual;
print(conceder_acesso)

In [ ]:
saldo_em_conta = 200;
valor_do_saque = 100;

pode_executar_saque = valor_do_saque <= saldo_em_conta;
print(pode_executar_saque);

In [ ]:
codigo_de_seguranca = '852';
codigo_de_seguranca_cadastro = '010';

pode_efetuar_pgamento = codigo_de_seguranca == codigo_de_seguranca_cadastro;
print(pode_efetuar_pgamento);

In [43]:
noticia = 'Selic vai a 2,75% e supera expectativas é a primeira alta em 6 anos.'

selic = noticia.find('Selic');
print(selic);
print(noticia[0:5]);

ano = noticia.find('6');
print(ano);

0
Selic
61

In [45]:

svv_23 = 15378.12;
sq_23 = 5;
tkt = svv_23 / sq_23;
print(tkt);

3075.6240000000003

In [46]:
svv_20 = 834.47;
tkt = 119.21;
sq_20 = svv_20 / tkt;
print(sq_20);

7.000000000000001

In [47]:
sq_19 = 3;
tkt = 320.52;
svv_19 = sq_19 * tkt;
print(svv_19);

961.56